.wrapModalAdd {
    :global {
        .ant-modal-content {
            padding: 20px!important;
        }
    }
    .wrapContent {
        margin: 5px 0;
    }
    .titleText {
        margin-right: 5px;
        color: #4D4D4D;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
}
