.wrapBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    margin-bottom: 10px;
    border: 0.2px solid var(--cl);

    .text {
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        color: var(--cl);

        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .textActive {
        color: #2e89ff;
        background-color: #242526;
    }
}
.content {
    //padding: 16px;
}
