.head {
  display: flex;
  border-bottom: 0.4px solid #bdbdbd;
  padding: 7px;
  .title {
    flex: 1;
    margin: 5px;
    font-size: 24px;
    font-weight: 700;
  }
  .button-add {
    background: #2F80ED;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
    span:last-child {
      margin-left: 10px;
    }
  }
}
