.general-root {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .generals {
    border-radius: 4px;
    display: flex;
    background-color: #fff;
  }
  .trans-amount-total {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
  }
  >div:last-child {
    display: flex;
    gap: 10px;
    >div {
      display: flex;
      flex: 1;
      background-color: #fff;
      border-radius: 4px;
    }
  }
}