.textError {
    color: red;
    font-size: 13px;
    font-weight: 400;
}

::placeholder {
    font-size: 14px;
}


.input-number-wrap {
    display: flex;
    flex-direction: column;

    :global {
        .ant-input-number-input {
            font-size: 16px !important;
            line-height: 38px !important;
            font-weight: 400 !important;
        }
    }

    .input-number-title {
        margin-right: 5px;
        color: #4D4D4D;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .input-number-obligatory {
        color: red;
    }
    .input-number-text-error {
        color: red;
        font-size: 13px;
        font-weight: 400;
    }
}


.input-select-wrap {
    display: flex;
    flex-direction: column;

    :global {
        .ant-select-selection-placeholder {
            font-size: 14px !important;
        }
    }
    .input-select-title {
        margin-right: 5px;
        color: #4D4D4D;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .input-select-obligatory {
        color: red;
    }
}


.text-Area-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    :global {
        .ant-input {
            font-size: 16px !important;
            font-weight: 400 !important;
        }
    }

    .text-Area-title {
        margin-right: 5px;
        color: #4D4D4D;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .text-Area-text-error {
        position: absolute;
        bottom: 1px;

        color: red;
        font-size: 13px;
        font-weight: 400;
    }
    .text-Area-obligatory {
        color: red;
    }
}
