.wrapContent {
    .contentTop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        position: sticky;
        top: 0;
        z-index: 1;
        padding: 8px 0;
        background-color: #f4f2ff;

        .titleWrapContent {
            font-size: 18px;
            font-weight: bold;
        }
        .contentTopWrapIcon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .icon {
                padding: 10px;
                border-radius: 50%;
                background-color: #FFFFFF;
                box-shadow: 0 0 11px -3px rgba(0,0,0,0.1);

                display: flex;
                align-items: center;
                justify-content: center;
            }
            .iconSync {
                margin-right: 10px;
                cursor: pointer;
            }
            .iconSync:hover {
                color: white;
                background-color: #d2cfce;
            }
        }
    }

    .contentBottom {
        display: flex;
        flex-direction: column;
        .contentItem {
            font-size: 15px;
            font-weight: 600;
            margin-top: 18px;
            .textContentItemTitle {
                color: #c6c5c3;
                margin: 0 0 5px 0;
            }
            .textContentItemText {
                margin-top: 10px;
            }
        }
    }
}
