:root {
    --m5: 5px;
    --m10: 10px;
    --p10: 10px;
    --br15: 15px;
    --br: #faf7f2;
    --brA: #ffffff;
    --cl: #867b8c;
    --clA: #f8b310;
}

.menuTop {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 5px;
    border-radius: 15px;

    opacity: 0.9;
    background-color: var(--br);
    backdrop-filter: blur(20px) !important;
    box-shadow: 0 0 0px -100px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .contentAvatar {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        border-radius: 50%;
    }
}
.wrapLogout {
    .text {
        margin-left: 10px;
    }
}
