.customer-root {
  flex: 1;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  .head {
    padding: 7px;
    border-bottom: 0.4px solid #bdbdbd;
    h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 5px;
    }
  }
}

.content {
  padding: 8px 0;
  .box-search {
    display: flex;
    padding: 14px;
    .input-search {
      margin-right: 24px;
    }
  }
  .main-content {
    .due-number {
      font-size: 14px;
      font-weight: 400;
      color: #FF0A0A;
      padding-left: 14px;
    }
  }
}

.tag {
  cursor: grab;
}

.expandable-row {
  padding-left: 50px;
}

.due {
  color: #EB5757;
}

.near-due {
  color: #F2C94C;
}

.highlight-due {
  background-color: rgba(235, 87, 87, 0.1);
}

.highlight-near-due {
  background-color: rgba(249, 224, 0, 0.2);
}
