.text-search {
    min-width: 350px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 0 5px;
    font-size: 14px;
    span:first-child {
      padding: 11px 0 11px 12px;
      cursor: pointer;
    }
    input {
      border: none;
      padding: 8px;
      outline: none;
      background: #F0F0F0;
      flex: 1;
      border-radius: 100px;
    }
  }