.wrapModal {
    :global {
        .ant-modal-content {
            border-radius: 20px;
            padding: 20px;
        }
        .ant-modal-header {
            margin-bottom: 20px;
        }
        .ant-modal-title {
            font-style: normal;
            font-size: 25px;
            font-weight: 600;
            text-align: center;
        }
        .ant-modal-close {
            width: 29px;
            height: 29px;
            border-radius: 50%;
            background-color: #dcdcdc;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .ant-modal-close-x {
            font-size: 20px;
        }
    }
    .wrap {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .wrapText {
        color: #4D4D4D;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        margin-bottom: 30px;
        .contentText {
            font-size: 18px;
            line-height: 24px;
            margin-left: 5px;
            font-weight: 500;
        }
        .textColor {
            color: #0c0c0cc2;
        }
    }
    .flex_1 {
        flex: 1;
    }
    .flex_2 {
        flex: 2;
    }
}
