.content-modal {
  margin: 35px 0;
  .form-item-input {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    .avatar {
      border-radius: 100%;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      width: 50px;
      height: 50px;
    }
  }
  .green-text {
    color: #219653;
  }
  .red-text {
    color: red;
  }
}
.modal-detail {
  input {
    pointer-events: none !important;
    border: none !important;
  }
}
