.content-modal-wrap {
    .wrap {
        flex: 1;
        display: flex;
        flex-direction: row;
    }
    .wrapContent {
        margin: 8px 0;
        display: flex;
        flex-direction: column;
    }
    .titleText {
        margin-bottom: 3px;
        color: #4D4D4D;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .textObligatory {
        color: red;
    }
    .contentLeft {
        margin-right: 10px;
    }
    .contentRight {
        margin-left: 10px;
    }
    ._flex1 {
        flex: 1;
    }
    ._flex2 {
        flex: 2;
    }
    ._flex3 {
        flex: 3;
    }
    ._flex4 {
        flex: 4;
    }
    ._flex5 {
        flex: 5;
    }
    ._flex6 {
        flex: 6;
    }
    ._flex7 {
        flex: 7;
    }
    ._flex8 {
        flex: 8;
    }
    ._flex9 {
        flex: 9;
    }
    .wrapBtn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        :global {
            .ant-btn-primary {
                margin-left: 20px;
            }
        }
    }
}
