.text-Area-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    :global {
        .ant-input {
            font-size: 16px !important;
            font-weight: 400 !important;
        }
    }

    .text-Area-title {
        margin-bottom: 3px;
        font-style: normal;
        line-height: 22px;
        font-weight: 600;
        font-size: 14px;
        color: #4D4D4D;
    }
    .text-Area-text-error {
        position: absolute;
        bottom: 1px;

        color: red;
        font-size: 13px;
        font-weight: 400;
    }
    .text-Area-obligatory {
        color: red;
    }
}
