.input-select-wrap {
    display: flex;
    flex-direction: column;

    :global {
        .ant-select-selection-placeholder {
            font-size: 14px !important;
        }
    }
    .input-select-title {
        margin-bottom: 3px;
        font-style: normal;
        line-height: 22px;
        font-weight: 600;
        font-size: 14px;
        color: #4D4D4D;
    }
    .input-select-obligatory {
        color: red;
    }
}
