.wrap-modal {
    :global {
        .ant-modal-content {
            border-radius: 20px;
            padding: 20px 0;

            .ant-modal-title {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 150%;
                text-align: center;
            }

            .ant-modal-close {
                width: 29px;
                height: 29px;
                border-radius: 50%;
                background-color: red;
                box-shadow: 0 0 11px -3px rgba(0, 0, 0, 0.1);

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .ant-modal-close:hover {
                background-color: #3a3b3c;
            }

            .ant-modal-close-x {
                font-size: 20px;
            }
        }
    }
}
