.wrapMenuLeftTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 220px;
    max-width: 220px;

    .wrapAvatar {
        position: relative;
        margin-top: 5px;

        .iconCamera {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 16px;
            padding: 6px 8px;
            border-radius: 25px;
            cursor: pointer;
            background-color: var(--brA);
            box-shadow: 0px -5px 50px 0px rgba(0, 0, 0, 0.1);
        }

        .iconCamera:hover {
            background-color: #242526;
            color: var(--brA);
        }
    }

    .name {
        font-size: 18px;
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
    }
}
